* {
  box-sizing: border-box;
}

:root {
  --color-bg: #010409;
  --color-bg-surface: #0d1117;
  --color-bg-success: #a6e3a1;

  --color-fg: #cdd6f4;
  --color-fg-subtext: #a6adc8;
  --color-fg-highlight: #89b4fa;
  --color-error-fg: #f38ba8;
  --color-fg-danger: #f38ba8;

  --color-btn-bg: #2b57a2;
  --color-btn-hover: #21437d;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button, textarea {
  outline: 0;
}

button {
  cursor: pointer;
  color: inherit;
}

.submit-button {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  background: var(--color-btn-bg);
  font-weight: bold;
  border-radius: 5px;
  border: none;
  transition: .3s;

  &:hover,
  &:disabled {
    background: var(--color-btn-hover);
  }

  &:disabled {
    cursor: not-allowed;
  }
}
