.inputContainer {
  & .input {
    display: block;
    width: 100%;
    background: var(--color-bg);
    color: var(--color-fg);
    font-size: 16px;
    padding: 15px;
    font-weight: bold;
    border: solid 1px var(--color-bg);
    border-radius: 5px;
    margin-top: 20px;
    transition: .3s;

    &.invalid {
      border-color: var(--color-error-fg);
    }

    &:focus {
      border-color: var(--color-fg);
    }
  }

  & .error {
    margin-top: 10px;
    margin-left: 10px;
    color: var(--color-error-fg);

    & .icon {
      color: inherit;
      margin-right: 5px;
    }
  }
}
