.deleteNote {
  & .text {
    line-height: 1.5;
    font-size: 14px;
  }

  & .buttons {
    margin-top: 20px;

    & .button {
      background: transparent;
      font-size: 16px;
      border: none;
      padding: 10px;
      color: var(--color-fg-highlight);
      transition: .3s;

      &:hover {
        background: rgba(137, 180, 250, .15);
      }

      &.cancel {
        color: var(--color-fg-danger);
        margin-right: 10px;

        &:hover {
          background: rgba(243, 139, 168, .15);
        }
      }
    }
  }
}
